@model AspNetGame.Models.Game.Core.Planet
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<ul>
    @foreach (var building in Model.Buildings )
    {
        <li>@Html.DisplayFor(modelItem => building.Name)</li>
    }
</ul>

