<div class="jumbotron">
    <h1>Galaxy Game</h1>
    <p class="lead">Galaxy Game is an open source, easy-to-use, galactic simulation game.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Join us</h2>
        <p>@ViewBag.PlayersCount players has joined the move. It's now your turn.</p>
    </div>
</div>
