@model AspNetGame.Models.Game.Planet

<div class="row">
    @foreach (var Unite in ViewBag.templateNumber)
    {
        object unit = Unite.Key;
        
            <div class="col-lg-3">
                <a>@Unite.Value</a>
                @Html.Partial("BuildingTypeCard",unit)
            </div>
    }
</div>