@model IEnumerable<AspNetGame.Models.Game.Planet>
@{
    ViewBag.Title = "List of planets";
}
<h2>@ViewBag.Title</h2>

@foreach (var planet in Model)
{
    @Html.Partial("PlanetCard", planet);

    @Html.ActionLink("Explore", "Details", new { Id = planet.Id }, new { @class = "btn btn-success" });

}