@model AspNetGame.Models.Game.Units.UnitTemplate
@{
    ViewBag.Title = "BuildingTypeCard";
}

    <div >
        <h4>@Model.Name</h4>
        <div class="col-lg-3" style=" align-content : center" >
            <img src=" @(Model.ImagePath ?? "/Content/Images/noimageavailable.png") " class="building-card-image unit-image" />       
        </div>
    </div>
