@model IEnumerable<AspNetGame.Models.Game.Units.UnitTemplate>
@{
    ViewBag.Title = "List of Building Types";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var UnitTemplate in Model)
    {


        <div class="col-lg-3">
            @Html.Partial("BuildingTypeCard", UnitTemplate)
        </div>


    }
</div>