body {
    font-family: 'Open Sans', 'Microsoft Sans Serif', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/Content/Images/background.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table.specs tr td:nth-child(2n+1) {
    font-weight: bold;
    font-style: italic;
}

.resource-icon 
{
    width: 24px;
    height: 24px;

}

.resource-icon-g {
    width: 64px;
    height: 64px;
}


.rounded-image {
    border-radius: 10px;
    box-shadow: 3px 3px 8px #666;
}

.unit-image 
{
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    object-position: center;
}

ul {
    list-style: none;
    padding: 0;
}

.strikeout
{
    text-decoration: line-through;
    font-style: italic;
}

.planet-card-image {
    max-width: 150px;
    object-fit: contain;
    object-position: center;
}

.home-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-logo img {
    margin-right: 20px;
    width: 128px; 
}

.header-logo {
    width: 24px;
    display: inline !important;
    margin-right: 5px;
}

.resources-bar {
    /*background-color: rgba(0, 0, 0, 0.7);*/
    position: fixed;
    left: 0;
    top: 50px;
    list-style-type: none;

}

.resources-bar li {
   /* float: left;*/
}

.resource-bar-icons {
    position: relative;
    text-align: center;
    color: white;
    margin: 10px 0 0 10px;
}
.resource-bar-icons img {
    width: 48px;
    height: 48px;
    border-radius: 7px;
}

    .resource-bar-icons div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;*/
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 14pt;
        font-weight: bold;
    }
